#copy this code to .env file

DATABASE_URL="postgres://<username>:<password>@<server-url>/<database-name>"
ENCRYPTION_SECRET="secret"
REQUIRE_HTTPS="true"
NEXT_PUBLIC_BASE_URL="https://local.fencelane.com:3000"
SENDGRID_API_KEY="api-key"