.commission-container {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.2;
  font-size: 15px;
  flex-direction: row;
  gap: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  flex-direction: column;
}
.product-table {
  grid-template-areas: "item item item item";
  border-top: 2px solid var(--light-content);
}
.product-table-item {
  align-items: center;
  height: 60px;
  padding: 5px;
  border-bottom: 1px solid rgb(189, 181, 181);
}
.product-table-item:nth-last-child(-n + 4) {
  border-bottom: none;
}
.text-box {
  margin-bottom: 10px;
}
.commission-header {
  color: var(--font-gray);
}
.commission-text {
  font-weight: 500;
}
.commission-top {
  align-items: center;
}

.more-button {
  padding: 0;
}
.action-button {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .commission-container {
    padding: 10px 20px;
  }
  .product-table {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1124px) {
  .commission-info {
    grid-template-areas: "line line line line line line";
    gap: 10px;
    padding: 20px 30px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6 {
    grid-area: "line";
  }
  .commission-actions {
    justify-content: flex-end;
    padding: 0px 30px 20px 0px;
    gap: 20px;
  }
  .commission-actions > div {
    gap: 20px;
  }
}
