.date-filters {
  position: absolute !important;
  z-index: 10;
  top: 50px;
  background-color: white;
  padding: 10px;
  box-shadow: 6px 6px 14px -2px rgba(66, 68, 90, 1);
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .filters-container {
    flex-direction: row !important;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
}
