.content {
  font-size: 13px;
  min-height: calc(100vh - 80px);
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--light-content);
  flex: 1;
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .content {
    font-size: 16px;
    padding: 20px;
    padding-left: 220px;
    box-sizing: border-box;
  }
}
