.container {
  background-color: white;
}
.calc-button {
  font-size: 13px !important;
  width: 100px;
  height: 30px !important;
  background-color: black;
}
.calc-table {
  position: relative;
}
.calc-table > tr:first-child {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.calc-table td {
  padding: 15px 10px;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .calc-table tr td:last-child {
    display: flex;
    justify-content: center;
  }
  .calc-button {
    font-size: 15px !important;
    width: 120px;
    height: 30px !important;
  }
}
