.nav {
  width: 100%;
  background-color: var(--dark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px 0px;
  z-index: 8;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  text-transform: capitalize;
  color: var(--unactive);
  height: 50px;
  width: auto;
}
.nav-item:hover {
  color: white;
}
.nav-item:hover img {
  filter: brightness(0) invert(1);
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    width: 200px;
    font-size: 1rem;
  }
  .nav-item {
    gap: 16px;
  }
  .nav img {
    width: 16px;
  }
}
