.wrapper {
  height: 98%;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 1920px;
  max-height: 1024px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
