:root {
  --unactive: #c2c2c2;
  --dark: #333;
  --light-content: #ebebeb;
  --grey: #909697;
  --black: #000;
  --white: #fff;
  --font-gray: #a3a3a3;
  --add-button-color: #a5a498;
  --button-grey: #a2c4cf;
  --button-orange: #fa7269;
  --button-blue: #1162ad;
  --button-dark-orange: #faae69;
  --button-green: #7ac28f;
  --status: #232ccf;
  --status-delivered: #339926;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
